* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Barlow, sans-serif;
}

.container {
  width: 90%;
  max-width: 144rem;
  margin: 0 auto;
}
a {
  all: unset;
  cursor: pointer;
}

li {
  list-style: none;
}

.header {
  padding-top: 6rem;
  font-size: 1.6rem;
  color: hsl(0deg, 0%, 100%);
}
.header__bg-pattern {
  width: 100%;
  height: 900px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}
.header::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 48vh;
  background: url(../images/icon-arrow-down.svg) no-repeat center;
  width: 100%;
  height: 114px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12rem;
  position: relative;
}
.header__icon-hamburguer {
  display: none;
}
.header__nav ul {
  display: flex;
  gap: 5rem;
  align-items: center;
}
.header__nav ul li:hover {
  text-decoration: underline;
}
.header__nav ul li:last-child {
  text-decoration: none;
}
.header__nav ul li:last-child a {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 5rem;
  font-family: Fraunces, sans-serif;
  color: hsl(212deg, 27%, 19%);
  text-transform: uppercase;
  padding: 2rem 3rem;
}
.header__nav ul li:last-child a:hover {
  background-color: #6fcfff;
  color: hsl(0deg, 0%, 100%);
}
.header__title {
  font-size: 5rem;
  font-family: Fraunces, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1rem;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .header {
    padding-top: 4rem;
    font-size: 2rem;
  }
  .header__icon-hamburguer {
    display: block;
  }
  .header__wrapper {
    margin-bottom: 8rem;
  }
  .header__nav {
    display: none;
    position: absolute;
    top: 8rem;
    background: hsl(0deg, 0%, 100%);
    width: 100%;
    color: hsl(213deg, 9%, 39%);
    padding: 6rem;
    z-index: 4;
  }
  .header__nav ul {
    flex-direction: column;
    gap: 4rem;
  }
  .header__nav ul li:last-child {
    margin-top: 2rem;
    text-decoration: none;
  }
  .header__nav ul li:last-child a {
    background-color: hsl(51deg, 100%, 49%);
  }
  .header__nav::after {
    content: "";
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border: 25px solid;
    border-color: transparent hsl(0deg, 0%, 100%) hsl(0deg, 0%, 100%) transparent;
    box-sizing: border-box;
  }
  .header__bg-pattern {
    height: 650px;
  }
  .header__title {
    font-size: 3.5rem;
  }
  .header::after {
    bottom: 40vh;
  }
}

main {
  margin-top: 63.2rem;
}
@media screen and (max-width: 800px) {
  main {
    margin-top: 41.6rem;
  }
}

.section__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
@media screen and (max-width: 800px) {
  .section__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

.section__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.section__item--egg {
  width: 100%;
  height: 60rem;
  background: url(../images/desktop/image-transform.jpg) no-repeat center;
  background-size: cover;
}
.section__item--cup {
  width: 100%;
  height: 60rem;
  background: url(../images/desktop/image-stand-out.jpg) no-repeat center;
  background-size: cover;
}
.section__item--grunt {
  width: 100%;
  height: 60rem;
  background: url(../images/desktop/image-graphic-design.jpg) no-repeat center;
  background-size: cover;
  justify-content: flex-end;
}
.section__item--orange {
  width: 100%;
  height: 60rem;
  background: url(../images/desktop/image-photography.jpg) no-repeat center;
  background-size: cover;
  justify-content: flex-end;
}
@media screen and (max-width: 800px) {
  .section__item--egg {
    order: 1;
    height: 45rem;
  }
  .section__item--transform {
    order: 2;
    height: 45rem;
  }
  .section__item--cup {
    order: 3;
    height: 45rem;
  }
  .section__item--standout {
    order: 4;
    height: 45rem;
  }
  .section__item--grunt {
    order: 5;
    height: 45rem;
  }
  .section__item--orange {
    order: 6;
    height: 45rem;
  }
}

.section__box {
  width: 56%;
}
.section__box h2 {
  font-size: 3.5rem;
  font-family: Fraunces, sans-serif;
  font-weight: 900;
  margin-bottom: 3rem;
}
.section__box p {
  font-size: 1.6rem;
  color: hsl(213deg, 9%, 39%);
  line-height: 3rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 800px) {
  .section__box {
    width: 80%;
    text-align: center;
  }
}

.section__link {
  font-size: 1.4rem;
  font-family: Fraunces, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
}
.section__link::after {
  content: "";
  display: block;
  width: 115%;
  height: 8px;
  border-radius: 5px;
  position: relative;
  top: -6px;
  left: -6px;
  z-index: -1;
}

.link-yellow::after {
  background-color: #fff7c7;
}
.link-yellow:hover::after {
  background-color: hsl(51deg, 100%, 49%);
}

.link-red::after {
  background-color: #ffd2cc;
}
.link-red:hover::after {
  background-color: hsl(7deg, 99%, 70%);
}

.section__info {
  width: 43%;
  text-align: center;
}
.section__info h3 {
  font-size: 2.8rem;
  font-family: Fraunces, sans-serif;
  font-weight: 900;
  margin-bottom: 3rem;
  text-transform: capitalize;
}
.section__info p {
  font-size: 1.4rem;
  line-height: 3rem;
  margin-bottom: 3rem;
}
.section__info--cyan h3 {
  color: hsl(167deg, 40%, 24%);
}
.section__info--cyan p {
  color: hsl(168deg, 34%, 41%);
}
.section__info--blue h3 {
  color: hsl(198deg, 62%, 26%);
}
.section__info--blue p {
  color: hsl(212deg, 27%, 19%);
}
@media screen and (max-width: 800px) {
  .section__info {
    width: 90%;
  }
  .section__info h3 {
    font-size: 2.4rem;
  }
}

.testimonials {
  width: 80%;
  margin: 0 auto;
  padding: 15rem 0;
}
.testimonials h4 {
  font-size: 2rem;
  font-family: Fraunces, sans-serif;
  font-weight: 900;
  color: hsl(232deg, 10%, 55%);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 8rem;
}
.testimonials__wrapper {
  display: flex;
  gap: 5rem;
  flex-wrap: nowrap;
}
.testimonials__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials__profile {
  width: 8rem;
  border-radius: 50%;
}
.testimonials__description {
  text-align: center;
  margin: 4rem 0;
  font-size: 1.8rem;
  line-height: 3rem;
}
.testimonials__name {
  font-size: 2rem;
  font-family: Fraunces, sans-serif;
  font-weight: 900;
}
.testimonials__role {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: hsl(210deg, 4%, 67%);
}
@media screen and (max-width: 800px) {
  .testimonials {
    width: 85%;
    padding: 8rem 0;
  }
  .testimonials h4 {
    font-size: 1.5rem;
  }
  .testimonials__wrapper {
    flex-wrap: wrap;
    gap: 8rem;
  }
}

.gallery {
  display: flex;
  width: 100%;
}
.gallery__img-milk {
  width: 100%;
  height: 43rem;
  background: url(../images/desktop/image-gallery-milkbottles.jpg) no-repeat;
  background-size: cover;
}
.gallery__img-orange {
  width: 100%;
  height: 43rem;
  background: url(../images/desktop/image-gallery-orange.jpg) no-repeat;
  background-size: cover;
}
.gallery__img-cone {
  width: 100%;
  height: 43rem;
  background: url(../images/desktop/image-gallery-cone.jpg) no-repeat;
  background-size: cover;
}
.gallery__img-sugarcubes {
  width: 100%;
  height: 43rem;
  background: url(../images/desktop/image-gallery-sugarcubes.jpg) no-repeat;
  background-size: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  padding: 6rem;
  background-color: #8bc6ba;
  position: relative;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 4rem;
}
.footer__logo svg {
  fill: hsl(167deg, 40%, 24%);
}
.footer__nav {
  font-size: 1.6rem;
  color: hsl(167deg, 40%, 24%);
  margin-bottom: 8rem;
}
.footer__nav ul {
  display: flex;
  gap: 5rem;
}
.footer__nav a:hover {
  color: hsl(0deg, 0%, 100%);
}
.footer__social {
  display: flex;
  gap: 2.5rem;
}
.footer__social svg {
  fill: hsl(167deg, 40%, 24%);
}
.footer__social svg:hover {
  fill: hsl(0deg, 0%, 100%);
}
.footer__attribution {
  position: absolute;
  bottom: 1rem;
  color: hsl(167deg, 40%, 24%);
}
.footer__attribution a:hover {
  color: hsl(0deg, 0%, 100%);
}

/*# sourceMappingURL=style.css.map */
