.header {
    padding-top: 6rem;
    font-size: 1.6rem;
    color: $color-white;

    &__bg-pattern {
        width: 100%;
        height: 900px;
        position: absolute; 
        top: 0;
        left: 0;
        z-index: -1; 
        object-fit: cover;
    }      

    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 48vh;
        background: url(../images/icon-arrow-down.svg) no-repeat center;
        width: 100%;
        height: 114px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12rem;
        position: relative;
    }

    &__icon-hamburguer {
        display: none;
    }

    &__nav {

        ul {
            display: flex;
            gap: 5rem;
            align-items: center;

            li:hover {
                text-decoration: underline;
            }

            li:last-child {   
                text-decoration: none;

                a {
                    background-color: $color-white;
                    border-radius: 5rem;
                    font-family: Fraunces, sans-serif;
                    color: $color-very-dark-desaturated-blue;
                    text-transform: uppercase;
                    padding: 2rem 3rem;                    
    
                    &:hover {
                        background-color: $color-light-blue;
                        color: $color-white;
                    }
                }                
            }
        }
    }

    &__title {
        font-size: 5rem;
        font-family: Fraunces, sans-serif;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 1rem;
        text-align: center;
    }

    @media screen and (max-width: $break-mobile) {
        padding-top: 4rem;
        font-size: 2rem;
        
        &__icon-hamburguer {
            display: block;
        }

        &__wrapper {
            margin-bottom: 8rem;
        }

        &__nav {
            display: block;
            opacity: 0;
            position: absolute;
            top: 8rem;
            background: $color-white;
            width: 100%;
            color: $color-very-dark-grayish-blue;
            padding: 6rem;
            z-index: 4;
            transition: all 1s;

            ul {
                flex-direction: column;
                gap: 4rem;

                li:last-child {   
                    margin-top: 2rem;
                    text-decoration: none;
    
                    a {
                        background-color: $color-yellow;
                    }                
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: -30px;
                right: 0;
                width: 30px;
                height: 30px;
                border: 25px solid;
                border-color:  transparent $color-white $color-white transparent;
                box-sizing: border-box;
            }
        }
    
        &__bg-pattern {
            height: 650px;
        } 

        &__title {
            font-size: 3.5rem;
        }

        &::after {
            bottom: 40vh;
        }
    }
}